@using ContactManager.Services
@rendermode InteractiveServer

<tr style="font-size:13px;">
    <td>
        <div class="name-cell">
            <img src="/image/zoro.jpg" alt="Foto">
            <div class="name-info">
                <span class="name">@item.Name</span>
                <span class="description">@item.Description</span>
            </div>
        </div>
    </td>
    <td class="item-center">@item.Phone</td>
    <td class="item-center">@item.Email</td>
    <td class="item-center" style="justify-items: right;">
        <div class="float-right">
            <a class="btn btn-sm btn-xs btn-danger" @onclick="@(() => Remove.InvokeAsync(item))">Excluir</a>

        </div>
    </td>
</tr>

@code {

    [Parameter]
    public ContactSettings item { get; set; }

    [Parameter]
    public EventCallback<ContactSettings> Remove { get; set; }

}